.interestContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    box-shadow: var(--box-shadow);
    width: 12%;
    gap: 1rem;
    background-color: hsl(var(--background));
    &.mobile {
        width: 40%;
        margin-bottom: 5%;
    }
    &:hover {
        i svg {
            fill: hsl(var(--primary2));
        }

        p {
            color: hsl(var(--primary2));
        }
    }
    i {
        width: 60%;
        svg {
            width: 100%;
            fill: hsl(var(--primary));
            transition: fill 0.25s ease-in-out;
        }
    }
    p {
        margin: unset;
        color: hsl(var(--primary));
        font-weight: bold;
        text-align: center;
        transition: color 0.25s ease-in-out;
    }

}