@use '../../styles/style.scss' as *;

.App {
    .experience-section {
        padding: 2%;
        box-sizing: border-box;
        h2 {
            margin-bottom: 2%;
            margin-left: 0%;
            margin-top: 0;
        }
        .timeline {
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
            &::after {
                content: '';
                position: absolute;
                width: 2px;
                background-color: white;
                top: 0;
                bottom: 0;
                left: 50%;
                margin-left: -3px;
                @include media-max(600px) {
                    left: 31px;
                }
            }
            .container {
                padding: 10px 40px;
                position: relative;
                background-color: inherit;
                width: 50%;
                @include media-max(1300px) {
                    width: 45%;
                }
                @include media-max(810px) {
                    width: 43.3%;
                }
                @include media-max(600px) {
                    width: 80%;
                    padding-left: 70px;
                    padding-right: 25px;
                    &::before {
                        left: 60px;
                        border: medium solid white;
                        border-width: 10px 10px 10px 0;
                        border-color: transparent white transparent transparent;
                    }
                    &.left::after, &.right::after {
                        left: 15px;
                      }
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    right: -17px;
                    background-color: white;
                    border: 4px solid $purple;
                    top: 15px;
                    border-radius: 50%;
                    z-index: 1;
                }
                &.left {
                    right: 83px;
                    @include media-max(1300px) {
                        right: 2vmin;
                    }
                    @include media-max(1100px) {
                        right: 2.5vmin;
                    }
                    @include media-max(1000px) {
                        right: 3vmin;
                    }
                    @include media-max(950px) {
                        right: 3.5vmin;
                    }
                    @include media-max(810px) {
                        right: 30px;
                    }
                    @include media-max(600px) {
                        right: 0;
                    }
                    &::before {
                        content: " ";
                        height: 0;
                        position: absolute;
                        top: 22px;
                        width: 0;
                        z-index: 1;
                        right: 30px;
                        border: medium solid $black;
                        border-width: 10px 0 10px 10px;
                        border-color: transparent transparent transparent $black;
                        @include media-max(600px) {
                            content: " ";
                            height: 0;
                            position: absolute;
                            top: 22px;
                            width: 0;
                            z-index: 1;
                            border: medium solid $black;
                            border-width: 10px 10px 10px 0;
                            border-color: transparent $black transparent transparent;
                        }
                    }
                }
                &.right {
                    left: 50%;
                    @include media-max(600px) {
                        left: 30px;
                        padding-left: 40px;
                    }
                    &::before {
                        content: " ";
                        height: 0;
                        position: absolute;
                        top: 22px;
                        width: 0;
                        z-index: 1;
                        left: 30px;
                        border: medium solid $black;
                        border-width: 10px 10px 10px 0;
                        border-color: transparent $black transparent transparent;
                    }
                    &::after {
                        left: -16px;
                      }
                }
                .content {
                    padding: 20px 30px;
                    background-color: $black;
                    position: relative;
                    border-radius: 6px;
                    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
                    .title {
                        color: $purple-3;
                    }
                    h4,p,ul {
                        color:  white;
                    }
                    h4 { 
                        font-size: 140%;
                        margin-top: 0;
                    }
                    p,ul {
                        font-size: 110%;
                    }
                }
            }
        }
    }
}

.AppLight {
    .timeline {
        &::after {
            background-color: $white;
        }
        .container {
            &::after {
                background-color: $white;
                border: 4px solid $purple;
            }
            &.left {
                &::before {
                    border-color: transparent $white transparent transparent;
                }
            }
            &.right {
                &::before {
                    border-color: transparent transparent transparent $white;
                }
            }
            .content {
                background-color: $white;
                box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
                h4,p,ul {
                    color:  $black;
                }
            }
        }
    }
}

.AppLight {
    .experience-section {
        .timeline {
            &::after {
                background-color: $black;
            }
            .container {
                &::after {
                    background-color: $white;
                    border: 4px solid $purple;
                }
                &.left {
                    &::before {
                        border-color: transparent $white transparent transparent;
                    }
                }
                &.right {
                    &::before {
                        border-color: transparent transparent transparent $white;
                    }
                }
                .content {
                    background-color: $white;
                    box-shadow: 0 20px 50px rgba(208, 208, 208, 0.8);
                    .title {
                        color: $purple;
                    }
                    h4,p,ul {
                        color:  $black;
                    }
                }
            }
        }
    }
}