@use '../../styles/style.scss' as *;

.SkillContainer {
    width: 30vw;
    display: flex;
    margin-bottom: 2%;
    @include media-max(450px) {
        width: 100%;
    }
    &:not(:hover) {
        i svg {
            fill: dimgray;
            mask: none;
        }
        i svg path {
            fill: dimgray;
            mask: none;
        }
    }
    i {
        width: 20%;
        svg {
            width: 100%;
            transition: fill 0.2s ease-out;
            path {
                transition: fill 0.2s ease-out;  
            }
        }
    }
    .Info {
        display: flex;
        flex-direction: column;
        margin-left: 3%;
        .Name {
            margin-top: -2%;
            margin-bottom: 0;
            color: $white;
            font-size: 200%;
        }
        .Content {
            color: $white;
            font-size: 120%;
        }
    }
}

.SkillIconContainer {
    width: 3vw;
    margin-bottom: 0;
    @include media-max(450px) {
        width: 20%;
    }
    i {
        width: 100%;
    }
}

.SkillLightContainer {
    .Info {
        .Name {
            color: $black;
        }
        .Content {
            color: $black;
        }
    }
}