@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

// Color //
$black: #1b1b1b;
$black-2: #282c34;
$black-3: #474747;
$black-4: #333;
$grey: #ffffffb3;
$white: #FFFDFA;
$white-2 : #f8f9f9;
$purple: #6772eb;
$purple-2: #AAA5DC;
$purple-3: #98a0ff;
$green: #03c484;
$blue: #adffff;

// Theme //
$main-color: $purple;
$secondary-color: $purple-2;

@mixin media-max($_min-width) {
    @media screen and (max-width: $_min-width) {
        &{ @content; }
    }
}

@mixin media-min($_max-width) {
    @media screen and (min-width: $_max-width) {
        &{ @content; }
    }
}