@use '../../styles/style.scss' as *;

.App {
    height: fit-content;
    min-height: 100%;
    width: 100%;
    position: absolute;
    background-color: $black;
    font-family: 'Montserrat', sans-serif;
    h2 {
        color: $white;
        margin-left: 3%;
    }
    hr {
        width: 90%;
        border-color: dimgrey;
        border-width: 1px;
    }
    .aboutme-section {
        .title {
            font-size: 200%;
            h2 {
                margin-bottom: 1%;
                font-size: 100%;
            }
            .infogroup {
                display: flex;
                img {
                    width: 20%;
                    @include media-min(800px) {
                        max-width: 160px;
                    }
                    @include media-max(800px) {
                        display: none;
                    }
                    height: 20%;
                    margin-left: 3%;
                    margin-block: 0;
                    margin-bottom: 1%;
                }
                .subgroup {
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    @include media-max(800px) {
                        margin-left: 1%;
                        margin-right: 1%;
                        width: 100%;
                    }
                }
            }
        }
        .informations {
            display: flex;
            p, span {
                font-size: 80%;
                font-weight: bold;
            }
            p {
                color: $main-color;
                margin-inline: 2%;
                margin-block: 0;
            }
            span {
                color: dimgray;
            }
        }
        .bio {
            color: $white;
            margin-block: 2%;
            line-height: 150%;
            margin-left: 2%;
            margin-right: 5%;
            margin-bottom: 0;
            font-size: 60%;
        }
        .contacts {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5%;
            margin-inline: 5%;
            flex-direction: row;
            font-size: 70%;
            a {
                all: unset;
                cursor: pointer;
                &:hover {
                    color: $main-color;
                    font-weight: bold;
                }
            }
            p {
                font-size: 100%;
            }
            span {
                color: dimgray;
                font-weight: bold;
            }
            color: $white;
            @include media-max(450px) {
                flex-wrap: wrap;
                span {
                    display: none;
                }
            }
            
        }
    }
    .wicd-section {
        .container{  
            width: 95%;  
            position: relative;  
            display: flex;  
            justify-content: space-evenly;
            padding: 2.5%;
            @include media-max(800px) {
                flex-wrap: wrap;
            }
            @include media-max(450px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        } 
    }
    .skills-section {
        .container {
            display: flex;
            padding: 3%;
            padding-top: 1%;
            flex-wrap: wrap;
            gap: 0.5%;
            justify-content: center;
        }
    }
}

.AppLight {
    background-color: $white-2;
    h2 {
        color: $black;
    }
    hr {
        border-color: $grey;
    }
    .aboutme-section {
        .bio {
            p {
                color: $black;
                font-weight: bold;
            }
        }
        .contacts {
            color: $black;
            font-weight: bold;
        }
    }
}