.SkillBar {
    display: flex;
    color: hsl(var(--foreground));
    position: relative;
    width: 48%;
    gap: 1rem;
    &.mobile {
        width: 100%;
        .icon {
            width: 10%;
        }
    }
    .icon {
        width: 5%;
        position: relative;
        align-self: flex-end;
        bottom: 10%;
        img {
            width: 100%;
        }
    }
    .title {
        width: 90%;
        position: relative;
        p {
            font-size: 120%;
            margin-top: 0;
            margin-bottom: 0.5%;
        }
    }
}