@use '../../styles/style.scss' as *;

.SkillBar {
    display: flex;
    color: $white;
    // flex-direction: column;
    position: relative;
    width: 50%;
    @include media-max(600px) {
        width: 90%;
    }
    .icon {
        width: 6%;
        left: 5%;
        position: relative;
        align-self: center;
        bottom: 10%;
        img {
            width: 100%;
        }
        @include media-max(810px) {
            width: 6vw;
        }
        @include media-max(600px) {
            width: 10vw;
        }
    }
    .title {
        width: 90%;
        left: 5%;
        position: relative;
        p {
            font-size: 120%;
            margin-top: 0;
            margin-bottom: 0.5%;
        }
    }
    .container {
        background-color: $grey;
        border-radius: 10px 0.25rem 0.25rem 10px;
        width: 90%;
        left: 5%;
        position: relative;
        &.full {
            border-radius: 10px;
        }
        .percent {
            text-align: center;
            font-weight: bold;
            border-radius: 10px;
            box-shadow: inset 0px 0px 2px rgb(26 25 25);
            transition: width 1s ease-out;
        }
    }
}

.SkillLightBar {
    color: $black;
    font-weight: bold;
    .container {
        background-color: $black;
        color: $white;
    }
}