@use '../../styles/style.scss' as *;

.BurgerMenu {
    width: 15vmin;
    display: none;
    color: white;
    @include media-max(500px) {
        display: block;
    }
}

.HeaderLight {
    background-color: $white;
    box-shadow: 5px 5px 30px #0003;
    .Name {
        color: $black;
    }
    .ThemeIcon {
        fill: $black;
    }
    .LangIcon {
        color: $black;
    }
    nav {
        @include media-max(500px) {
            background-color: $white;
        }
        ul li a {
            color: $black;
        }
    }
}


header {
    box-shadow: 5px 5px 30px #0003;
    background-color: $black;
    display: flex;
    justify-content: space-between;
    height: 10%;
    align-items: center;
    @include media-max(500px) {
        gap: 3%;
        nav.menuActive {
            transform: translateX(0);
        }
    }
    .OptionIcon {
        display: flex;
        align-items: center;
        margin-right: 5%;
        gap: 10%;
    }
    .ThemeIcon {
        width: 4vmin;
        cursor: pointer;
        fill: $white;
        @include media-max(500px) {
            width: 8vmin;
        }
    }
    .LangIcon {
        color: $white;
        font-weight: bold;
        font-size: 150%;
        cursor: pointer;
        user-select: none;
        @include media-max(700px) {
            font-size: 3w;
        }
    }
    .Name {
        a {
            all: unset;
        }
        cursor: pointer;
        margin-left: 3%;
        color: $white;
        @include media-max(700px) {
            font-size: 2.5vw;
        }
        @include media-max(500px) {
            font-size: 3.5vw;
        }
    }
    nav {
        display: flex;
        margin-right: 5%;
        @include media-max(500px) {
            display: block;
            position: absolute;
            height: 90%;
            left: 0;
            top: 8vh;
            background-color: $black;
            z-index: 50;
            transform: translateX(-190%);
            transition: transform 0.5s ease-in-out; 
            padding-inline: 3%; 
        }
        ul {
            display: flex;
            flex-direction: row;
            gap: 5%;
            margin-block: 0;
            padding: 0;
            @include media-max(500px) {
                flex-direction: column;
                padding-left: 0;
                align-items: center;
            }
            li {
                all: unset;
                user-select: none;
                @include media-max(700px) {
                    font-size: 2vw;
                }
                @include media-max(500px) {
                    margin-bottom: 20%;
                    font-size: 150%;
                }
                a {
                    all: unset;
                    color: $grey;
                    cursor:pointer;
                    font-weight: bolder;
                    font-size: 130%;
                    padding: 5%;

                    &:hover {
                        color: $main-color;
                    }
                }
                .currentNav {
                    border-bottom: 2px solid $main-color;
                }
            }
        }
    }
}

