header nav ul li a a[data-current="current"] {
    border-bottom: 2px solid hsl(var(--primary));
}

.header-mobile {
    top: 5rem;
    left: 0%;
    position: absolute!important;
    // size: 150%;
    height: 100vh;
    width: fit-content;
}

.header-mobile div {
    height: 100%;
    width: fit-content;
    z-index: 100;
    background-color: hsl(var(--background));
}

.header-mobile div a {
    font-size: 1.5rem!important;
    line-height: 3rem!important;
}